In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("/Users/gloriajepkurui/Downloads/vaccinations covid.csv")
pd.set_option('display.max.rows',300)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355174 entries, 0 to 355173
Data columns (total 45 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    355174 non-null  object
 1   continent                                   338302 non-null  object
 2   location                                    355174 non-null  object
 3   date                                        355174 non-null  object
 4   new_tests                                   75403 non-null   float64
 5   total_tests_per_thousand                    79387 non-null   float64
 6   new_tests_per_thousand                      75403 non-null   float64
 7   new_tests_smoothed                          103965 non-null  float64
 8   new_tests_smoothed_per_thousand             103965 non-null  float64
 9   positive_rate                               95927 non-null   float64
 10  tests_per_case                              94348 non-null   float64
 11  tests_units                                 106788 non-null  object
 12  total_vaccinations                          79668 non-null   float64
 13  people_vaccinated                           76252 non-null   float64
 14  people_fully_vaccinated                     72930 non-null   float64
 15  total_boosters                              47900 non-null   float64
 16  new_vaccinations                            65666 non-null   float64
 17  new_vaccinations_smoothed                   182558 non-null  float64
 18  total_vaccinations_per_hundred              79668 non-null   float64
 19  people_vaccinated_per_hundred               76252 non-null   float64
 20  people_fully_vaccinated_per_hundred         72930 non-null   float64
 21  total_boosters_per_hundred                  47900 non-null   float64
 22  new_vaccinations_smoothed_per_million       182558 non-null  float64
 23  new_people_vaccinated_smoothed              182334 non-null  float64
 24  new_people_vaccinated_smoothed_per_hundred  182334 non-null  float64
 25  stringency_index                            197651 non-null  float64
 26  population_density                          301586 non-null  float64
 27  median_age                                  280439 non-null  float64
 28  aged_65_older                               270654 non-null  float64
 29  aged_70_older                               277627 non-null  float64
 30  gdp_per_capita                              274872 non-null  float64
 31  extreme_poverty                             177160 non-null  float64
 32  cardiovasc_death_rate                       275522 non-null  float64
 33  diabetes_prevalence                         289543 non-null  float64
 34  female_smokers                              206686 non-null  float64
 35  male_smokers                                203874 non-null  float64
 36  handwashing_facilities                      134978 non-null  float64
 37  hospital_beds_per_thousand                  243242 non-null  float64
 38  life_expectancy                             326837 non-null  float64
 39  human_development_index                     267047 non-null  float64
 40  population                                  355174 non-null  int64
 41  excess_mortality_cumulative_absolute        12211 non-null   float64
 42  excess_mortality_cumulative                 12211 non-null   float64
 43  excess_mortality                            12211 non-null   float64
 44  excess_mortality_cumulative_per_million     12211 non-null   float64
dtypes: float64(39), int64(1), object(5)
memory usage: 121.9+ MB

In [28]:
df.shape

(355174, 45)

In [29]:
df.head(10)

,iso_code,continent,location,date,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,03/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,04/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,05/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,06/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,07/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,08/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,09/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,10/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,11/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,12/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [30]:
df.tail(2)

,iso_code,continent,location,date,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
355172,ZWE,Africa,Zimbabwe,07/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
355173,ZWE,Africa,Zimbabwe,08/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN

In [31]:
df['location']

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
355169       Zimbabwe
355170       Zimbabwe
355171       Zimbabwe
355172       Zimbabwe
355173       Zimbabwe
Name: location, Length: 355174, dtype: object

In [32]:
df.loc[0]
# [0] is the index, row of the data we are looking at

iso_code                                              AFG
continent                                            Asia
location                                      Afghanistan
date                                           03/01/2020
new_tests                                             NaN
total_tests_per_thousand                              NaN
new_tests_per_thousand                                NaN
new_tests_smoothed                                    NaN
new_tests_smoothed_per_thousand                       NaN
positive_rate                                         NaN
tests_per_case                                        NaN
tests_units                                           NaN
total_vaccinations                                    NaN
people_vaccinated                                     NaN
people_fully_vaccinated                               NaN
total_boosters                                        NaN
new_vaccinations                                      NaN
new_vaccinations_smoothed                             NaN
total_vaccinations_per_hundred                        NaN
people_vaccinated_per_hundred                         NaN
people_fully_vaccinated_per_hundred                   NaN
total_boosters_per_hundred                            NaN
new_vaccinations_smoothed_per_million                 NaN
new_people_vaccinated_smoothed                        NaN
new_people_vaccinated_smoothed_per_hundred            NaN
stringency_index                                      0.0
population_density                                 54.422
median_age                                           18.6
aged_65_older                                       2.581
aged_70_older                                       1.337
gdp_per_capita                                   1803.987
extreme_poverty                                       NaN
cardiovasc_death_rate                             597.029
diabetes_prevalence                                  9.59
female_smokers                                        NaN
male_smokers                                          NaN
handwashing_facilities                             37.746
hospital_beds_per_thousand                            0.5
life_expectancy                                     64.83
human_development_index                             0.511
population                                       41128772
excess_mortality_cumulative_absolute                  NaN
excess_mortality_cumulative                           NaN
excess_mortality                                      NaN
excess_mortality_cumulative_per_million               NaN
Name: 0, dtype: object

In [40]:
 df[df['life_expectancy'] > 85]

,iso_code,continent,location,date,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
203077,MCO,Europe,Monaco,03/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
203078,MCO,Europe,Monaco,04/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
203079,MCO,Europe,Monaco,05/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
203080,MCO,Europe,Monaco,06/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
203081,MCO,Europe,Monaco,07/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204478,MCO,Europe,Monaco,04/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
204479,MCO,Europe,Monaco,05/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
204480,MCO,Europe,Monaco,06/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
204481,MCO,Europe,Monaco,07/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN
204482,MCO,Europe,Monaco,08/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.8,86.75,NaN,36491,NaN,NaN,NaN,NaN

In [41]:
specific_continent = ['Asia','Europe']
df[df['continent'].isin(specific_continent)]

,iso_code,continent,location,date,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,03/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,04/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,05/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,06/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,07/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352357,YEM,Asia,Yemen,04/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,29.2,49.542,0.7,66.12,0.470,33696612,NaN,NaN,NaN,NaN
352358,YEM,Asia,Yemen,05/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,29.2,49.542,0.7,66.12,0.470,33696612,NaN,NaN,NaN,NaN
352359,YEM,Asia,Yemen,06/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,29.2,49.542,0.7,66.12,0.470,33696612,NaN,NaN,NaN,NaN
352360,YEM,Asia,Yemen,07/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,29.2,49.542,0.7,66.12,0.470,33696612,NaN,NaN,NaN,NaN
352361,YEM,Asia,Yemen,08/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,29.2,49.542,0.7,66.12,0.470,33696612,NaN,NaN,NaN,NaN

In [45]:
df[df['location'].str.contains('United')]

,iso_code,continent,location,date,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
331479,ARE,Asia,United Arab Emirates,03/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,37.4,NaN,1.2,77.97,0.89,9441138,NaN,NaN,NaN,NaN
331480,ARE,Asia,United Arab Emirates,04/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,37.4,NaN,1.2,77.97,0.89,9441138,NaN,NaN,NaN,NaN
331481,ARE,Asia,United Arab Emirates,05/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,37.4,NaN,1.2,77.97,0.89,9441138,NaN,NaN,NaN,NaN
331482,ARE,Asia,United Arab Emirates,06/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,37.4,NaN,1.2,77.97,0.89,9441138,NaN,NaN,NaN,NaN
331483,ARE,Asia,United Arab Emirates,07/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,37.4,NaN,1.2,77.97,0.89,9441138,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337098,VIR,North America,United States Virgin Islands,04/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.58,NaN,99479,NaN,NaN,NaN,NaN
337099,VIR,North America,United States Virgin Islands,05/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.58,NaN,99479,NaN,NaN,NaN,NaN
337100,VIR,North America,United States Virgin Islands,06/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.58,NaN,99479,NaN,NaN,NaN,NaN
337101,VIR,North America,United States Virgin Islands,07/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.58,NaN,99479,NaN,NaN,NaN,NaN
337102,VIR,North America,United States Virgin Islands,08/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.58,NaN,99479,NaN,NaN,NaN,NaN

In [47]:
df2 = df.set_index('location')
df2

,iso_code,continent,date,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,Asia,03/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
Afghanistan,AFG,Asia,04/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
Afghanistan,AFG,Asia,05/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
Afghanistan,AFG,Asia,06/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
Afghanistan,AFG,Asia,07/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,ZWE,Africa,04/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,Africa,05/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,Africa,06/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,Africa,07/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,Africa,08/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN

In [48]:
df2.filter(items = ['continent','population'])

            continent  population
location
Afghanistan      Asia    41128772
Afghanistan      Asia    41128772
Afghanistan      Asia    41128772
Afghanistan      Asia    41128772
Afghanistan      Asia    41128772
...               ...         ...
Zimbabwe       Africa    16320539
Zimbabwe       Africa    16320539
Zimbabwe       Africa    16320539
Zimbabwe       Africa    16320539
Zimbabwe       Africa    16320539

[355174 rows x 2 columns]

In [52]:
df[df['life_expectancy'] > 60].sort_values(by = 'continent', ascending = False)

,iso_code,continent,location,date,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
304795,SUR,South America,Suriname,12/10/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,42.900,67.779,3.100,71.68,0.738,618046,NaN,NaN,NaN,NaN
37217,BOL,South America,Bolivia,23/10/2021,6016.0,212.714,0.498,5647.0,0.467,0.0900,...,NaN,25.383,1.100,71.51,0.718,12224114,NaN,NaN,NaN,NaN
37215,BOL,South America,Bolivia,21/10/2021,6119.0,211.706,0.507,5264.0,0.436,0.0962,...,NaN,25.383,1.100,71.51,0.718,12224114,NaN,NaN,NaN,NaN
37214,BOL,South America,Bolivia,20/10/2021,6072.0,211.199,0.503,5355.0,0.443,0.0803,...,NaN,25.383,1.100,71.51,0.718,12224114,NaN,NaN,NaN,NaN
37213,BOL,South America,Bolivia,19/10/2021,6511.0,210.697,0.539,5464.0,0.452,0.0662,...,NaN,25.383,1.100,71.51,0.718,12224114,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350951,OWID_WRL,NaN,World,04/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7975105024,NaN,NaN,NaN,NaN
350952,OWID_WRL,NaN,World,05/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7975105024,NaN,NaN,NaN,NaN
350953,OWID_WRL,NaN,World,06/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7975105024,NaN,NaN,NaN,NaN
350954,OWID_WRL,NaN,World,07/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7975105024,NaN,NaN,NaN,NaN
350955,OWID_WRL,NaN,World,08/11/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7975105024,NaN,NaN,NaN,NaN